<% include partials/head.ejs %>
        <div class="flex">
                <% include partials/menu.ejs %> 
                <section>
                        <a href="/dashboardproducts" class="button">tilbage til products</a>
                        <form  method="post" class="administrationform" id="editproduct">
                                <fieldset>
                                        <span id="nameerror" style="color:  red;"></span>
                                        <label for="name">skriv en name på dit product</label>
                                        <input type="text" name="name" value="<%= product.name %>" id="name" required>
                                </fieldset>
                                <fieldset>
                                        <span id="descriptionerror" style="color: red"></span>
                                    <label for="description">beskrivsel</label>
                                        <textarea name="description" id="description" required><%= product.description %></textarea>
                                </fieldset>
                                <fieldset>
                                    <span id="priceerror" style="color: red"></span>
                                    <label for="price">pris</label>
                                    <input type="number" name="price" value="<%=product.price %>" id="price" required>
                                </fieldset>
                                <fieldset>
                                        <span id="weighterror" style="color: red"></span>
                                    <label for="weight">vægt</label>
                                    <input type="number" name="weight" value="<%= product.weight %>" id="weight" required>
                                </fieldset>
                                <fieldset>
                                    <span id="amounterror" style="color: red"></span>
                                    <label for="amount">antal</label>
                                    <input type="number" name="amount" value="<%=product.amount %>" id="amount" required>
                                </fieldset>
                                <fieldset>
                                    <label for="categories">kategorie</label>
                                    <select name="categories" style="display:block" id="categories" required>
                                            <%  categories.forEach( categorie => { %>
                                            <option value="<%= categorie.id %>" <%= (product.fk_categories==categorie.id ? 'selected' : '' ) %>>
                                                <%=   categorie.name %>
                                            </option>
                                            <% }); %>
                                        </select>
                                </fieldset>
                                <button type="submit">opdater et product</button>
                            </form>
                            <form action="/dashboardeditproduct/image/<%= product.id %>" method="POST" enctype="multipart/form-data" class="administrationform" id="uploadimage">
                                <!--  <img src="/images/resize/<%= product.image %>" alt="billede fra databaen"> -->
                               <!--  <img src="/images/uploads/<%= product.image %>" alt="billede fra databaen"> -->
                               <label for="uploadfield" id="uploadlabel">upload et billede til dette produkt</label>
                               <span id="uploadfielderror" style="color: red"></span>
                                <div id="uploadbutton">
                                    <figure>
                                        Upload
                                    </figure>
                                     <!--accept er attribut der specificerer et  filter for hvilke filtyper brugeren kan vælge fra filinput og image/* betyder at Brugeren kan vælge alle billedfiler-->
                                    <input type="file" name="image" id="uploadfield" accept="image/*">
                                </div>
                                <fieldset>
                                        <label for="published">Gør dette billede til primary det betyder at billede blive et forsidebillede til produktet du kan selvfølgelig tilføje billeder uden at de skal være primary eller du kan vælge et nyt primary billede ved at klikke på primary inden under images </label>
                                        <input  name="published" value="1" type="checkbox" id="published" placeholder="skive den published">
                                </fieldset>
                                <button type="submit">upload til blide til dit product</button>
                            </form>
                            <p>
                                <%= (typeof  errorMessage != "undefined") ?  errorMessage : '' %>
                            </p>    
                </section>
        </div>
        <script>
         const  form =  document.querySelector('#editproduct');
        form.addEventListener('submit', function(event){
            event.preventDefault();
             const name = document.querySelector('#name');
             const nameerror = document.querySelector('#nameerror');
             nameerror.innerHTML = '';
             const description = document.querySelector('#description');
             const descriptionerror = document.querySelector('#descriptionerror');
            descriptionerror.innerHTML = '';
            const price = document.querySelector('#price');
            const priceerror = document.querySelector('#priceerror');
            priceerror.innerHTML = '';
            const weight = document.querySelector('#weight');
            const weighterror = document.querySelector('#weighterror');
            weighterror.innerHTML = '';
            const amount = document.querySelector('#amount');
            const amounterror = document.querySelector('#amounterror');
            amounterror.innerHTML = '';
            
            let succes = true; 
             // Regular Expression er et objekt, der beskriver et mønster med tegn.
           if(!/.*\S.*/g.test(name.value)){
                succes =  false;
                nameerror.innerHTML = "feltet name er tomt";
            }
             // Regular Expression er et objekt, der beskriver et mønster med tegn.
            // textarea har ikke en value men dens protype har en
            if(!/.*\S.*/g.test(description.value)){
                succes = false;
                descriptionerror.innerHTML = 'feltet beskrivelse er tomt';
            }
             // Regular Expression er et objekt, der beskriver et mønster med tegn.
            if(!/.*\S.*/g.test(price.value)){
                succes = false;
                priceerror.innerHTML =  'feltet prise er tomt';
            }
             // Regular Expression er et objekt, der beskriver et mønster med tegn.
            if(!/.*\S.*/g.test(weight.value)){
                succes = false;
                weighterror.innerHTML =  'feltet vægt er tomt';   
            } 
             // Regular Expression er et objekt, der beskriver et mønster med tegn.
            if(!/.*\S.*/g.test(amount.value)){
                succes = false;
                amounterror.innerHTML = 'feltet antal er tomt';
            } 
            if(succes){
                form.submit();
            }
           
        });
        </script>
        <script>
        const form2 = document.querySelector('#uploadimage');
        form2.addEventListener('submit', function(event){
            event.preventDefault();
            const uploadfield = document.querySelector("#uploadfield");
          //  console.log(Object.getPrototypeOf(uploadfield.size));
            const uploadfielderror = document.querySelector('#uploadfielderror');
            uploadfielderror.innerHTML = '';
            let succes = true;

            // $ betyder i sluing af filenavet
            // | betyder eller
            if (!/\.(jpg|jpeg|png|gif)$/i.test(uploadfield.value)) {
                succes = false;
                 uploadfielderror.innerHTML = 'Den uploadede fil er ikke et billede';
            }

            if(succes){
                form2.submit();
            }
        })
        
        </script>
            <% include partials/footer.ejs %>