<% include partials/head.ejs %>
    <div class="flex">
            <% include partials/menu.ejs %>
                <section>
                        <a href="/categorie" class="button">tilbage til  users</a>
                    <h1>rediger <%= user.username %></h1>
                    <form  method="post"  class="administrationform" id="userrolle">
                        <fieldset>
                                <span id="usernameerror" style="color: red"></span>
                                <label for="username">brugernavn</label>
                                <input type="text" name="username" value="<%= user.username %>" id="username" required>
                        </fieldset>
                        <fieldset>
                            <label for="passphrase">lav et nyt password</label>
                            <input type="password" name="passphrase" id="passphrase">
                            </fieldset>
                        <fieldset>
                            <span id="emailerror" style="color:  red;"></span>
                            <label for="email">email</label>
                            <input type="email" name="email" id="email" value="<%= user.email %>" id="email" required>
                        </fieldset>
                        <button type="submit">gem</button>
                    </form>
                    <% if(userlevel >= 99 ){ %>
                    <form action="/dashboardusersupgrade/<%= user.id %>" method="post" class="administrationform">
                            <fieldset>
                                        <label for="usersroles">brugerrolle</label>
                                        <select name="usersroles" style="display:block" id="usersroles">
                                                <%  usersroles.forEach( usersrole => { %>
                                                <option value="<%= usersrole.rolesid %>" <%= (user.fk_role==usersrole.rolesid ? 'selected' : '' ) %>>
                                                    <%=  usersrole.rolesname %>
                                                </option>
                                                <% }); %>
                                        </select>        
                            </fieldset>
                            <button type="submit">upgarder userrolle</button>
                    </form>
                    <%  }%>
                    <p>
                            <%= (typeof  errorMessage != "undefined") ?  errorMessage : '' %>
                    </p>
                </section>
           
    </div>
    <script>
            const  form =  document.querySelector('#userrolle');
            form.addEventListener('submit', function(event){
             event.preventDefault();
             const email = document.querySelector('#email');
            const emailerror = document.querySelector('#emailerror');
            emailerror.innerHTML =  '';
            const username = document.querySelector('#username');
            const usernameerror = document.querySelector('#usernameerror');
            usernameerror.innerHTML =  '';
     
             let succes = true;
             // Regular Expression er et objekt, der beskriver et mønster med tegn.
             if(!/.*\S.*/g.test(email.value)){
                succes =  false;
                emailerror.innerHTML = "feltet email er tomt";  
            }
             // Regular Expression er et objekt, der beskriver et mønster med tegn.
            if(!/@/g.test(email.value)){
                succes = false;
                emailerror.innerHTML ='du mangler et snabel-a i feltet';
            }
             // Regular Expression er et objekt, der beskriver et mønster med tegn.
            if(!/.*\S.*/g.test(username.value)){
                succes =  false;
                usernameerror.innerHTML = "feltet username er tomt";
            }
     
                 if(succes){
                     form.submit();
                 }
            });
            
            </script> 
    <% include partials/footer.ejs %>