<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1><%= title %></h1>
    <a href="/createproducts">oprate et product</a>
    <table>
            <thead>
                <tr>
                    <th></th>
                    <th>navn</th>
                    <th>description</th>
                    <th>price</th>
                    <th>weight</th>
                    <th>amount</th>
                    <th>categories</th>
                </tr>
            </thead>
            <tbody>
                    <% products.forEach(product => { %>
                <tr>
                    <td>
                        <a href="/editproduct/<%= product.id %>">rediger</a>
                        <a href="/deleteuser/<%= product.id %>">selt</a>
                    </td>
                    <td> 
                        <%= product.name %>
                    </td>
                    <td>
                        <%=  product.description %>
                    </td>
                    <td>
                        <%= product.price %>
                    </td>
                    <td>
                        <%= product.weight %>
                    </td>
                    <td>
                        <%= product.amount %>
                    </td>
                    <td>
                        <%= product.categoriesname %>
                    </td>
                </tr>
                <% }); %>
            </tbody>
        </table>
</body>
</html>